*
 {
     background-color: black;
     color: white;
 }

.contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    margin-top: 100px;
}

h1,
h3,
strong,
i {
    background: none;
}

h1 {
    margin-top: none;
}

.profile {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 2px;
  
    background-color: teal;
    padding: 20px;
    padding-top: 0px;
    text-align: left;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 1000px;
  
    margin-left: 30px;
    margin-right: 30px;
    line-height: 35px;
}

.images {
    width: 375px;
    position: absolute;
    right: 270px;
    bottom: 250px;
}