.facts-page {
	
	background-image: url(images/1F4J.gif);
	background-repeat: no-repeat;
	background-size: cover;

}

.facts-button {
	border: 2px solid #14213d;
	padding: 15px;
	border-radius: 10px;
	background-color: #ffcad4;
}

#myBtn_1 {
	position: relative;
	top: 200px;
	left: 10px;
}

#myBtn_2 {
	position: relative;
	top:290px;
	left: 900px;
}

#myBtn_3 {
	position: relative;
	top:550px;
	left: 600px;
}

#myBtn_4 {
	position: relative;
	top: 300px;
	left: 250px;
}

#myBtn_5 {
	position: relative;
	top:500px;
	right: 30px;
}

#myBtn_6 {
	position: relative;
	top: 60px;
}

#fact_1 {
	top: 60px;
	visibility:hidden;
	display: inline-block;
	width: 150px;
	background-color: #aed9e0;
	position: relative;
	left: 900px;
	padding: 10px;
	height: 100px;
	width:250px;
	border: 2px solid #e7ecef;
	border-radius: 5px;
	text-align: left;
}

#fact_2 {
	top: 100px;
	visibility:hidden;
	display: inline-block;
	position: relative;
	left: 20px;
	width: 250px;
	height: 100px;
	background-color: #aed9e0;
	padding: 20px;
	border: 2px solid #e7ecef;
	border-radius: 5px;
}

#fact_3 {
	top: 50px;
	visibility: hidden;
	display: inline-block;
	position: relative;
	left: 900px;
	width: 200px;
	height: 50px;
	background-color: #aed9e0;
	padding: 20px;
	padding-top: 10px;
	border: 2px solid #e7ecef;
	border-radius: 5px;
}

#fact_4 {
	top:111px;
	visibility:hidden;
	display: inline-block;
	position: absolute;
	left: 500px;
	width: 200px;
	height: 50px;
	background-color: #fffae3;
	padding: 20px;
	padding-top: 10px;
	border: 2px solid #e7ecef;
	border-radius: 5px;
}

#fact_5 {
	top:380px;
	visibility:hidden;
	display: inline-block;
	position: absolute;
	left: 500px;
	width: 250px;
	height: 100px;
	background-color: #fffae3;
	padding: 20px;
	border: 2px solid #e7ecef;
	border-radius: 5px;
}

#fact_6 {
	top: 100px;
	visibility:hidden;
	display: inline-block;
	position: absolute;
	width: 150px;
	left: 130px;
	background-color: #aed9e0;
	padding: 5px;
	border: 2px solid #e7ecef;
	border-radius: 5px;
}

.facts {
	font-size: 18px;
	line-height: 21px;
}

	
/*header*/


header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
  z-index: 100000;


}

header .logo {
	position:relative;
	transition: 0.6s;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: pink;
  color: #fff;
  text-align:center;
	word-wrap: break-word;
  letter-spacing: 1px;
  
}

.logo-text {
	margin-top: 10px;
	color: #fff;
	font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Pacifico', cursive;
}


header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}


header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}

header.sticky {
	padding: 5px 100px;
	background: white;
}
	