.day-forecast {
  background: right/contain content-box border-box no-repeat
      url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
  margin: .2rem;
  font-size: 1rem;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;

}

header .logo {
	position:relative;
	transition: 0.6s;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: pink;
    color: #fff;
    text-align:center;
	word-wrap: break-word;
    letter-spacing: 1px;
}

.logo-text {
	margin-top: 10px;
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size: 15px;
	letter-spacing: 1px;
}


header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}


header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	font-family: 'IBM Plex Mono', monospace;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}

header.sticky {
	padding: 5px 100px;
	background: black;
}

#solarSystem {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}



.homepage {
	color: white;
}

button {
	color: black;
}

#popup {
	visibility: hidden;
	border: 2px dotted white;
	position: absolute;
	width: 28%;
	height: 70%;
	left: 60%;
	top: 20%;
	padding: 20px;	
	background: rgba(0, 0, 0, 0.19);
}

#popup p {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 12px;
	margin: 0px 10px;
	letter-spacing: 2px;
}

#popup h2 {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 20px;
}

#popup.show {
	visibility: visible;
}

#btn-enter {
	width: 300px;
	position: relative;
	text-decoration: none;
	padding: 0px;
	background: pink;
	color: white;
	display: inline-block;
	margin-left: 30px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Bungee', cursive;
	font-size: 30px;

	
}



