*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: #e9ecef;
    color: #011a32;
    font: 16px/1.25;
    background-image: url(images/bg2.jpg);
    background-size: 2000px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 50vh;
    padding: 1em;
    width: 100%;
    letter-spacing: 2em;
}

.flex-container {
  display: flex;
  list-style: none;
  position: absolute;
  top: 540px;
  right: 100px;
  flex-flow: column;
  justify-content: space-around;
  line-height: 75px;
  margin-bottom: 100px;
}

.flex-item-1 {
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  color: #f2f2f2;
  position: absolute;
  right: 50px;
  top: 350px;
}

.flex-item {
  font-size: 1.75em;
  text-align: center;
  margin-top: 10px;
  color: #f2f2f2;
}

.button {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
  margin-top: 100px;
}

.button-item {
  font-size: 1.75em;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 2px;

  color: rgb(65, 65, 65);
  background-color: #f8f9fa;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 10px;
  width: 300px;

  margin-left: 30px;
  margin-right: 30px;
}

.comment {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 100px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.comment-item-1 {
  font-size: 1.5em;
  text-align: center;

  color: rgb(65, 65, 65);
  background-color: #f8f9fa;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #5D6063;
  border-radius: 10px;
  width: 480px;
  height: 120px;
  margin-top: 57px;
}

.comment-item-2 {
  font-size: 1.5em;
  text-align: left;

  color: rgb(65, 65, 65);
  background-color: #f8f9fa;
  font-weight: bold;
  padding: 20px;
  border: 2px solid #5D6063;
  border-radius: 10px;
  width: 400px;
  height: 430px;
  line-height: 30px;
  margin-top: 50px;
}

.info {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 200px;

  color: rgb(65, 65, 65);
  background-color: #bed2e9;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 10px;
  width: 400px;
  height: 300px;
}

.info-item {
  font-size: 1.5em;
  text-align: left;

}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-size: 5em;
    font-weight: 900;
    line-height: 1;
    color: #ecf8f8;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #024794;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #cbf3f0,
            0 0 0 #14213d,
            0 0 0 #778da9,
            0 0 0 #06aed5;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #cbf3f0,
            0 0.25em 0 #14213d,
            0 -0.125em 0 #778da9,
            0 -0.25em 0 #06aed5;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #cbf3f0,
            0 -0.125em 0 #14213d,
            0 0.0625em 0 #778da9,
            0 0.125em 0 #06aed5;
    }

   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #cbf3f0,
            0 0.0625em 0 #14213d,
            0 -0.03125em 0 #778da9,
            0 -0.0625em 0 #06aed5;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #cbf3f0,
            0 0 0 #14213d,
            0 0 0 #778da9,
            0 0 0 #06aed5;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
    }
}

.images {
    width: 100%;
    display: flex;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin-left: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  top: 540px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  position: absolute;
  top: 540px;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
